
/* body {
    background-color: #fb7299;
  } */
  @font-face 
{
    font-family: Smiley_Sans;
    src: url(./SmileySans-Oblique.ttf)
}
  html, body {
    height: 100%;
    margin: 0;

    font-family: "Smiley_Sans", sans-serif !important;
  }

  .a,
  .a:link,
  .a:visited,
  .a:hover,
  .a:active {
    text-decoration: none;
  }


.dp_all {
    display: grid;
    grid-template-columns: 1fr 9fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    /* .menu { grid-area: 1 / 1 / 2 / 2; } */
    .main_dp { grid-area: 1 / 2 / 2 / 3; }



/* button {
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    outline: none;
  }
   */
  /* 新拟态按钮样式 */
  #Menu_button {
    padding: 26px 47px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    outline: none;
    border-radius: 20px;
    background: #fb7299;
    box-shadow:  8px 8px 21px #b2516d,
                 -8px -8px 21px #ff93c5;
                 
  }
  #Menu_button.neumorphicButtonClicked {
    border-radius: 20px;
    background: linear-gradient(145deg, #e2678a, #ff7aa4);
    box-shadow:  17px 17px 31px #d56182,
                 -17px -17px 31px #ff83b0;
  }